<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>SocketIO example</title>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script type="text/javascript">
         $(document).ready(function() {
         
            var ws = new WebSocket("ws://localhost:8888/websocket/");
            // ws.binaryType = 'arraybuffer';
            // ws.onopen = function() {
            //     ws.send("Hello, world");
            // };
            ws.onmessage = function (evt) {
                $('#video').attr('src', `data:image/jpeg;base64,${evt.data}`);
            };

         });
      </script>
   </head>
   <body>
    <h1>SocketIO Example</h1>
    <h2>Receive:</h2>
    <div id="log"></div>
    <img id="video" src="">
   </body>
</html>